<p style="color: green"><%= notice %></p>

<%= render @product %>

<%= link_to "Rent this hut", new_rental_path(product_id: @product), class:"btn btn-success" %>

<hr>
<div class="container-fluid p-2 p-md-4">
  <div id="btn_add_comment">
    <%= button_to "Add a comment", new_comment_path(product_id: @product), class:"btn btn-primary", method: :post%>
  </div>

  <h5 class="my-3">Comments</h5>

  <div id="comments">
    <% @product.comments.reverse_each do |comment|%>
      <%= render comment %>
    <% end %>
  </div>
</div>
