<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #e3f2fd;" >
  <div class="container py-2">
    <h3 style="font-family: 'Dancing Script', serif" class="px-2"><%= link_to "RentAHut", root_path, class:"navbar-brand"%></h3>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Listings", products_path, class:"nav-link", id:"nav_listings" %>
        <%= link_to "Create a listing", new_product_path, class:"nav-link", id:"nav_new_listing" %>

        <% if user_signed_in? %>
          <%= link_to "Profile", profile_path(current_user), class:"nav-link", id:"nav_my_profile" %>
          <%= link_to "My rentals", profile_rentals_path(current_user), class:"nav-link", id:"nav_my_rentals" %>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, form_class:"nav-link" %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "nav-link", style:"color:#8d7d37" %>
        <% end %>
      </div>
    </div>

  </div>
</nav>

